<%= simple_form_for(@versioning, html: {class: 'form', role: 'form'}) do |f| %>

    <%= f.input :profile, input_html: {class: 'form-control'}, wrapper_html: {class: 'form-group'} %>

    <%= f.input :build, input_html: {class: 'form-control'}, wrapper_html: {class: 'form-group'} %>

    <%= f.input :status, input_html: {class: 'checkbox'}%>

    <%= f.association :app, input_html: {class: 'form-control'}, wrapper_html: {class: 'form-group'} %>

    <%= f.input :content, :as => :text, input_html: {id: 'content'} %>

    <br>
    <div class="actions">
      <%= f.button :submit %>
    </div>

<% end %>


