<p id="notice"><%= notice %></p>

<p>
  <strong>Version:</strong>
  <%= @versioning.profile %>
</p>

<p>
  <strong>Build:</strong>
  <%= @versioning.build %>
</p>

<p>
  <strong>Warning:</strong>
  <%= @versioning.status %>
</p>

<p>
  <strong>App:</strong>
  <%= @versioning.app.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= raw(@versioning.content) %>
</p>


<%= link_to 'Edit', edit_versioning_path(@versioning), :class => 'btn btn-large btn-success' %>