<%= simple_form_for(@app) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :identifier %>
    <%= f.input :app_type, priority: 'iOS', collection: app_type_list() %>
    <%= f.input :url %>
    <%= f.association :team, label_method: :name %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
