<h1>Listing apps</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Identifier</th>
      <th class="hidden-xs">App Key</th>
      <th>App type</th>
      <th>Team</th>
      <th class="hidden"></th>
      <th class="hidden"></th>
      <th class="hidden"></th>
    </tr>
    </thead>

    <tbody>
    <% @apps.each do |app| %>
        <tr>
          <td><%= app.name %></td>
          <td><%= app.identifier %></td>
          <td class="hidden-xs"><%= app.key %></td>
          <td><%= app.app_type %></td>
          <td><%= app.team.name %></td>
          <td class="show-link hidden"><%= link_to 'Show', app %></td>
          <td class="edit-link hidden"><%= link_to 'Edit', edit_app_path(app) %></td>
          <td class="destroy-link hidden"><%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>



<br>

<%= link_to 'New App', new_app_path, class: 'btn btn-large btn-success' %>
