<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @app.name %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @app.identifier %>
</p>

<p>
  <strong>Key:</strong>
  <%= @app.key %>
</p>

<p>
  <strong>App type:</strong>
  <%= @app.app_type %>
</p>

<p>
  <strong>URL:</strong>
  <%= @app.url %>
</p>

<p>
  <strong>Group:</strong>
  <%= @app.group.name %>
</p>

<%= link_to 'Edit', edit_app_path(@app), :class => 'btn btn-large btn-success'  %>

<div>
  <div>
    <h3>Versions:</h3>
    <span class="label label-success">Working</span>
    <span class="label label-warning">Warning</span>
    <span class="label label-danger">Must Update</span>
  </div>

  <%= render 'versionings/list' %>
</div>


