<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @application.name %>
</p>

<p>
  <strong>Key:</strong>
  <%= @application.key %>
</p>

<p>
  <strong>App type:</strong>
  <%= @application.app_type %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
