<%= simple_form_for(@versioning) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :version %>
    <%= f.input :build %>
    <%= f.association :app %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
