<%= simple_form_for(@versioning) do |f| %>
    <%= f.error_notification %>

    <div class="inputs">
      <%= f.input :version %>
      <%= f.input :build %>
      <%= f.input :warning %>
      <%= f.input :force_update %>
      <%= f.association :app %>

      <%= f.input :content, :as => :hidden,  input_html: { id: 'content' } %>


      <h3>Please edit the following content to give users a custom experience.</h3>

      <div id="" class="editable">

        <% if (not @versioning.new_record?) && (not @versioning.content.blank?) %>
            <%= raw(@versioning.content) %>
        <% else %>
            <%= render 'content', description: @versioning.content %>
        <% end %>
      </div>
    </div>

    <div class="actions">
      <%= f.button :submit %>
    </div>
<% end %>