<%= simple_form_for(@versioning) do |f| %>
    <%= f.error_notification %>

    <div class="inputs">
      <%= f.input :version %>
      <%= f.input :build %>
      <%= f.input :warning %>
      <%= f.input :force_update %>
      <%= f.association :app %>

      <%= f.input :content, :as => :hidden,  input_html: { id: 'content' } %>

      <div id="" class="editable">
        <% if @versioning.new_record? %>
            <%= render 'content', description: @versioning.content if @versioning.new_record? %>
        <% else %>
            <%= raw(@versioning.content) %>
        <% end %>
      </div>
    </div>

    <div class="actions">
      <%= f.button :submit %>
    </div>
<% end %>

<!-- make all elements with class="editable" editable with Aloha Editor -->
<script type="text/javascript">

    // save all changes after leaving an editable
    Aloha.bind('aloha-editable-deactivated', function(){
        var content = Aloha.activeEditable.getContents();

        $('#content').val(content);
    });

    Aloha.ready( function() {
        var $ = Aloha.jQuery;
        $('.editable').aloha();
    });

</script>