<p id="notice"><%= notice %></p>

<p>
  <strong>Version:</strong>
  <%= @versioning.version %>
</p>

<p>
  <strong>Build:</strong>
  <%= @versioning.build %>
</p>

<p>
  <strong>Warning:</strong>
  <%= @versioning.warning %>
</p>

<p>
  <strong>Force Update:</strong>
  <%= @versioning.force_update %>
</p>

<p>
  <strong>App:</strong>
  <%= @versioning.app.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= raw(@versioning.content) %>
</p>


<%= link_to 'Edit', edit_versioning_path(@versioning) %> |
<%= link_to 'Back', versionings_path %>
