<p id="notice"><%= notice %></p>

<p>
  <strong>Version:</strong>
  <%= @versioning.version %>
</p>

<p>
  <strong>Text:</strong>
  <%= @versioning.build %>
</p>

<p>
  <strong>Status:</strong>
  <%= @versioning.status %>
</p>

<p>
  <strong>App:</strong>
  <%= @versioning.app %>
</p>

<%= link_to 'Edit', edit_versioning_path(@versioning) %> |
<%= link_to 'Back', versionings_path %>
